[Unit]
Description=Simple grow, to water plants at specific times.
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/develop/SimpleGrow/simplegrow.py
Restart=on-abort

[Install]
WantedBy=multi-user.target